@import '../../variables.scss';

/* ---------------------------------------- */
/* ==                TAG                 */
/*---------------------------------------- */

.tag {
	min-width: 4rem;
	margin-top: 0.75rem;
	margin-right: 0.625rem;
	padding: 0.125rem 0.625rem;
	border-radius: 0.3125rem;
	background: $primary-color;
	color: #ffffff;
	font-size: 0.625rem;
	line-height: 142.6%;
	text-align: center;
	vertical-align: middle;
	@include desktop-breakpoint {
		min-width: 7.1875rem;
		margin-top: 0;
		margin-right: 0.625rem;
		padding: 0.1875rem 0.9375rem;
		border-radius: 0.625rem;
		font-size: 0.875rem;
	}
}
