.logement {
    width: 100%;
    max-width: 1240px;
    min-width: 250px;
    height: 100%;
    border-radius: 25px;
    margin: auto;
    background-color: #e5e5e5;
   /* F6F6F6 */
}
.logement__list {
    margin: 0;
    padding: 56px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 56px;
    column-gap: 50px;
}
.logement__list__content {
    width: 340px;
    height: 340px;
    position: relative;
}
.logement__list__content__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
}
.logement__list__content__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.logement__list__content__name {
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
@media (max-width: 425px) {
    .logement {
        background-color: transparent;
   }
    .logement__list {
        padding: 0px;
        row-gap: 20px;
   }
    .logement__list__content__bg {
        height: 98%;
   }
}
@media (max-width: 768px) {
    .logement__list__content {
        width: 100%;
        min-width: 240px;
        max-width: 700px;
        height: 100%;
        min-height: 100px;
        max-height: 500px;
   }
    .logement__list__content img {
        object-fit: cover;
   }
}
