/* ---------------------------------------- */
/* ==              A PROPOS               */
/*---------------------------------------- */
.apropos {
	&-banner {
		height: 13.9375rem;
	}
	&img{
object-fit: cover;	}
	&-section {
		padding-bottom: 5rem;
	}
}
