.header {
    width: 100%;
    max-width: 1240px;
    min-width: 200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
        display: flex;
        gap: 57px;

        &__active {
            text-decoration: underline;
        }

        a {
            font-size: 24px;
            font-weight: 500;
            line-height: 34.22px;
            text-align: right;
            color: red;
        }
    }

    @media (max-width: 768px) {
        &__logo {
            width: 30%;
        }
        &__link {
            gap: 10px;

            a {
                font-size: 12px;
            }
        }
    }
}
