@import '../../variables.scss';

/* ---------------------------------------- */
/* ==                404                 */
/*---------------------------------------- */
.error {
	text-align: center;
	&-title {
		margin-top: 6rem;
		margin-bottom: 0.6875rem;
		color: $primary-color;
		font-size: 6rem;
		font-weight: 700;
		line-height: 142.6%;
		@include desktop-breakpoint {
			margin-top: 4rem;
			margin-bottom: 2rem;
			font-size: 14rem;
			line-height: 100%;
		}
	}
	&-subtitle {
		margin: 0 auto;
		margin-top: 0.625rem;
		color: $primary-color;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 142.6%;
		@include desktop-breakpoint {
			font-size: 2.25rem;
		}
		&-br {
			@include desktop-breakpoint {
				display: none;
			}
		}
	}
	&-link {
		display: block;
		margin-top: 5.5rem;
		margin-bottom: 5.5rem;
		color: $primary-color;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 142.6%;
		text-decoration-line: underline;
		@include desktop-breakpoint {
			margin-top: 5rem;
			margin-bottom: 5rem;
			font-size: 1.125rem;
		}
	}
}
